.DS_Store
node_modules
public
.tmp
.idea
.log
dist
docs
scripts
.env
npm-debug.log
.nyc_output
coverage
cassettes
package-lock.json
DOCS.md
src/api/controversy/uploads
src/api/companies/uploads
src/api/datapoints/uploads
src/api/standalone_datapoints/uploads
.vscode/launch.json
uploads
src/config.js
